body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

a {
    color: #607d8b
}

li {
    height: 200px;
    width: 90%;
    border: 2px #607d8b solid;
    background-color: #fff;
    padding: 12px 20px;
    list-style-type: none;
}

.link-input {
    padding-top: 10%;
    position: fixed;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #455864;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.logo {
    height: 40px;
    width: 80px;
}

.input-field {
    font-size: xx-large;
    margin: 20px auto;
    height: 40px;
    width: 90%;
}

.enter-button {
    font-size: x-large;
    font-weight: 700;
    margin: 20px auto;
    height: 45px;
    width: 90%;
    background-color: #FFC107;
}

.enter-button {
    color: #FFF;
}

.enter-button:enabled:hover {
    background-color: #FFD773;
}

.error-message {
    font-size: small;
    font-weight: 400;
}

.output-pane {
    overflow: scroll;
    height: 100vh;
    width: 50%;
    background-color: #cfd8dc;
    float: right;
    margin: 0;
}

.counter {
    position: relative;
    float: right;
}

.output-title {
    padding: 12px 0;
    border-bottom: 2px solid #f2f4f4;
    color: #455a64;
    font-weight: 700;
    font-size: xx-large;
}

.output-url {
    margin: 17px 0;
    padding: 20px 0;
    font-weight: 400;
    font-size: x-large;
    color: #607d8b;
    border-bottom: 2px solid #f2f4f4;
}

.output-hover:hover {
    font-weight: 800;
    color: #455a64;
    text-decoration: none;
    border-bottom: 2px solid #ffc107;
}

.template-button {
    font-size: large;
    border: none;
    border-bottom: 2px solid #f2f4f4;
    color: #455a64;
}

.delete-button {
    float: right;
}